@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.repoList {
  display: grid;
  gap: $spacing-md;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @include media-xs() {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
