@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.repoBox {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  &__title {
    a {
      color: $primary-color;
      text-decoration: none;
      @include text-truncate(1);

      &hover {
        color: lighten($primary-color, 10%);
      }
    }
  }

  &__desciption {
    @include text-truncate(2); // truncate text after 2 line
  }

  &__tags {
    flex-wrap: wrap;
    gap: $spacing-md;
    margin-top: auto;

    svg {
      width: $font-size-base;
      height: $font-size-base;
    }

    div {
      font-size: $font-size-sm;
      font-weight: normal;
    }
  }
}
